/* An example of CSS for ID and its cascaded img selector */
/* Style for #banner uses the box model to add top margin */
#banner {
  margin-top: 20px;
}
#banner img {
  max-width: 100%;
}
/* Padding added to body tag to reduce white space betwee banner and navbar */
body {
  padding-top: 50px;
}
